<app-nav [isInProfile]="true"></app-nav>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="../../../assets/img/blob.png" />

    <img class="path2" src="../../../assets/img/path2.png" />

    <img class="shapes triangle" src="../../../assets/img/triunghiuri.png" />

    <img class="shapes wave" src="../../../assets/img/waves.png" />

    <img class="shapes squares" src="../../../assets/img/patrat.png" />

    <img class="shapes circle" src="../../../assets/img/cercuri.png" />

    <div class="content-center">
      <div class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            {{(user | async)?.username}}
          </h1>
          <br/>
          <a class="text-success d-inline mr-1" *ngIf="(user | async)?.url != null"
             href="{{(user | async)?.url}}">
            {{(user | async)?.url}}
          </a>
          <br/>
          <h5 class="text-white">E-mail: {{(user | async)?.email}}</h5>
        </div>
        <div id="list"
             class="col-lg-4 col-md-5"
             *ngIf="(items$ | async).length > 0"
        >
          <h1>My shortcuts</h1>
          <ul class="list-group">
            <li class="list-group-item text-black-50" *ngFor="let shortcut of (items$ | async)">
              <a class="nav-link" [routerLink]="['/shortcut', shortcut.id]">{{shortcut.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button *ngIf="myOwn" class="btn-primary floating-btn" [routerLink]="['/editProfile', (user | async)?.username]"><i class="tim-icons icon-pencil"></i></button>
  </div>
  <app-footer></app-footer>
</div>
