<app-nav></app-nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">
          <strong>
            404
          </strong> <br/>
        </h1>
        <h3>
          You have reached an mysterious place, you should go back <a [routerLink]="['/home']">home</a> and not trespass.
        </h3>
        <h4>
          Just Kidding, just a wrong page. <a [routerLink]="['/home']">Go back home</a>.
        </h4>
      </div>
    </div>
  </div>
</div>
