<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title"><span>{{title}}</span> {{store}}</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categories']"> Categories </a>
          </li>
          <li class="nav-item" *ngIf="(!account.isLoggedIn())">
            <a class="nav-link" [routerLink]="['/register']">
              Login / Register
            </a>
          </li>
          <li class="nav-item" *ngIf="(account.isLoggedIn())">
            <a class="nav-link" [routerLink]="['/profile']">
              Profile
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/about']"
            >
              About Us
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Look for a shortcut:</h3>
<!--        <div class="btn-wrapper profile">-->
<!--          -->
<!--        </div>-->
        <input type="text"
               id="input"
               class="form-control"
               placeholder="Search here...">
      </div>
    </div>
  </div>
</footer>
