<app-nav></app-nav>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
            <alert [type]="'primary'" *ngIf="alertTerms">
              Please read the terms and conditions!
            </alert>
            <alert [type]="'primary'" *ngIf="(usernameAlert$ | async)">
              Login username is incorrect!
            </alert>
            <alert [type]="'primary'" *ngIf="(passwordAlert$ | async)">
              Login password is incorrect!
            </alert>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3" *ngIf="isLogin">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body">
                <form class="form">
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input #loginUser
                      class="form-control"
                      placeholder="Username or e-mail"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input #loginPass
                      class="form-control"
                      placeholder="Password"
                      type="password"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-danger btn-round btn-lg"
                  (click)="login(loginUser.value, loginPass.value);"
                >
                  Sign in
                </a>
                <br/>
                <a href="javascript:void(0)"
                   (click)="isLogin = !isLogin"
                   class="justify-content-center">Or create a new account..</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3" *ngIf="!isLogin">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                <form class="form">
                  <div
                    class="input-group form-group" id="group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input #regisUser
                      class="form-control" id="control"
                      placeholder="Username"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false; checkUsernameExists(regisUser.value)"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input #regisEmail
                      class="form-control"
                      placeholder="Email"
                      type="email"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input #regisUrl
                      class="form-control"
                      placeholder="URL: http://yourwebsite.com"
                      type="url"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus3 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input #regisPass
                      class="form-control"
                      placeholder="Password"
                      type="password"
                      (focus)="focus3 = true"
                      (blur)="focus3 = false"
                    />
                  </div>
                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input #terms class="form-check-input" type="checkbox" />

                      <span class="form-check-sign"> </span> I agree to the
                      <a href="javascript:void(0)"> terms and conditions </a> .
                    </label>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-danger btn-round btn-lg"
                  href="javascript:void(0)"
                  (click)="terms.value ?  register(regisUser.value, regisPass.value, regisEmail.value, regisUrl.value): alertTerms = true"
                >
                  Get Started
                </a>
                <br/>
                <a href="javascript:void(0)"
                   (click)="isLogin = !isLogin"
                   class="justify-content-center">Or login to your account..</a>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
