<app-nav></app-nav>
<div class="wrapper">
  <section class="section section-lg">
    <img class="path" src="../../../assets/img/path3.png" />

    <div class="container">
      <div class="">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            {{isSearch? 'Search results for: ' + search: category.name}} <br/>
            <span class="text-info"
                  *ngIf="(!isSearch && category.items != null) || (isSearch && searchItems != null)">
              Items count: {{isSearch? searchItems: category.items.length}}
            </span>
            <span class="text-info"
                  *ngIf="isSearch && (searchItems == null || searchItems.length <= 0)">
              No items were found, try another search.
            </span>
            <span class="text-info"
                  *ngIf="!isSearch && (category.items == null || category.items.length <= 0)">
              No items were found, try another search.
            </span>
          </h1>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row"
        id ="list_row">
        <app-shortcutitem
                class="col-md-4"
                *ngFor="let item of items"
                [item]="item"
                [num]="items.indexOf(item)+1"
        >
        </app-shortcutitem>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
