<div class="card card-coin card-plain">
  <div class="dropdown-header" style="align-self: center;">

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-uppercase">{{category}}</h4>
        <hr class="line-primary" />
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button
      class="btn btn-primary btn-simple"
      [routerLink]="['/list', cate]"
    >
      Show more
    </button>
  </div>
</div>
