<div class="card card-coin card-plain">
    <div class="dropdown-header" style="align-self: center;">
      <i [attr.id]="'header' + num"
         [attr.class]="item.icon+' glyph'"
         [attr.style]="'color: '+item.color"></i>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-uppercase">{{item.name}}</h4>
                <hr class="line-primary" />
                <p> {{item.description}} </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button
          class="btn btn-primary btn-simple"
          [routerLink]="['/shortcut', item.id]"
        >
          Get Shortcut
        </button>
    </div>
</div>
